---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import bandsFile from "../_content/bands.json";

import { formatFestivalDates, formatProvisionalDate } from "../utils/dates";

import type { Festival } from "../content.config";
import type { ImageMetadata } from "astro";

const festival: Festival = Astro.props.festival;
const bands = bandsFile as Record<string, string>;
const { name, website, country, city, indoor, startDate, endDate, lineup, img, provisionalDate } = festival;
const year = new Date(startDate).getFullYear();
---

<section class="relative flex flex-col items-center text-center text-white">
  <a class="absolute top-0 right-0 z-[1] p-1 lg:p-2" href={`/${year}`}
    ><Icon name="close" class="text-3xl text-neutral-400 transition hover:text-white" /></a
  >
  {
    img && (
      <Image
        src={img}
        alt={name + " logo"}
        class="mt-8 h-auto max-h-20 w-auto max-w-64 md:max-h-32 lg:max-w-80 xl:max-w-full"
      />
    )
  }
  <h2 class="mt-2 text-lg text-neutral-200">{name}</h2>

  <div class="mt-1 flex items-center gap-1 text-center">
    <Icon name="pin" class="text-xl" />
    <h3 class="text-lg">{city}, {country}</h3>
  </div>

  <div class="flex items-center gap-1 text-center">
    <Icon name="calendar" class="text-xl" />
    <p>{provisionalDate ? formatProvisionalDate(startDate) : formatFestivalDates(startDate, endDate)}</p>
  </div>

  <div class="flex items-center gap-1 text-center">
    <Icon name={indoor ? "building" : "tent"} class="text-xl" />
    <p>{indoor ? "Indoor" : "Open-air"}</p>
  </div>

  <div class="mt-2 flex items-center gap-1 text-center">
    <Icon name="link" class="text-xl" />
    <a
      href={website}
      target="_blank"
      class="cursor-pointer text-lg text-[salmon] underline transition hover:text-white"
    >
      homepage
    </a>
  </div>

  <div class="mt-5 flex w-full items-center justify-center px-4 opacity-80">
    <div class="flex-1 border-t border-[salmon]"></div>
    <span class="mx-4 text-xl font-bold text-[salmon]">LINEUP</span>
    <div class="flex-1 border-t border-[salmon]"></div>
  </div>

  <ul class="flex w-full flex-col flex-wrap">
    {
      lineup
        ? lineup.map((band) => {
            return (
              <li class="text-md leading-snug font-black md:text-xl lg:text-2xl">
                {bands[band].toUpperCase()}
              </li>
            );
          })
        : "To be announced"
    }
  </ul>
</section>
