---
import { getCollection } from "astro:content";
import type { Festival } from "../content.config";
import { getBandNamesFromSlugs } from "../utils/content";
import { formatFestivalDates } from "../utils/dates";

const festival: Festival = Astro.props.festival;

const { name, website, country, city, indoor, startDate, endDate, lineup } = festival;

const bands = lineup ? await getBandNamesFromSlugs(lineup) : null;
---

<section class="flex flex-col items-center text-center text-white">
  <h2 class="text-xl font-bold sm:text-2xl">{name}</h2>
  <p class="text-lg sm:text-xl">{city}, {country}</p>
  <p>{indoor ? "Indoor" : "Open-air"}</p>
  <p>{formatFestivalDates(startDate, endDate)}</p>
  <a
    href={website}
    target="_blank"
    class="cursor-pointer text-[salmon] underline transition hover:text-white"
  >
    Homepage
  </a>
  <h3>Lineup</h3>
  <ul>
    {bands ? bands.map((band) => <li class="font-black">{band.toUpperCase()}</li>) : "To be announced"}
  </ul>
</section>
